 <!DOCTYPE html>
  <html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Window Regulator Replacement</title>
     {% load static from staticfiles  %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/boot/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static "servi.css" %}">
        <link rel="shortcut icon" type="image/x-icon" href="../static/imagenes/icono/credit-cards.ico" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64770923-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
    <body>

  <div class="navbar-wrapper">
      <div class="container-fluit">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!-- <a class="navbar-brand" href="#">{{compa}} </a> 
-->
            <a href="/">     <img src="/static/imagenes/banner/logo3.png"  alt="Brand" class="pull-left"  id="imglogo"></a>
            </div>
            <div class="navbar-collapse collapse" id="menus">
             <ul class="nav navbar-nav pull-right">
                    <li><a href="/"><span class="glyphicon glyphicon-home">Home</span></a></li>
                  <li><a href="/servicios"><span class="glyphicon glyphicon-info-sign">Services</span></a></li>
                  <li><a href="/ubicacion"><span class="glyphicon glyphicon-map-marker">Map</span></a></li>
                  <li><a href="/fotos"><span class="glyphicon glyphicon-picture">Photos</span></a></li>
                  <li><a href="/contacto"><span class="glyphicon glyphicon-phone-alt">Contact</span></a></li>
                  
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>





<!-- comienza la informacion -->


   <div class="container-relev">
     



      <div class="row featurette">
		  <div class=" col-md-5">
          <img class="featurette-image img-responsive imgimport" src="/static/imagenes/info/Window-Regulator-Replacement.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Window Regulator Replacementt <span class="text-muted" id="importa"></span></h2>
          <p class="lead">
			 Unlike the manual windows of old, most of today’s vehicles come equipped with automatic windows that go up and down at the touch of a button. But what happens when your car window regulator no longer functions properly, making it impossible to raise or lower your vehicle’s front or back windows? From allowing in wind and rain to presenting serious security issues, a broken or malfunctioning window regulator is one component of your car you’ll want to have replaced and soon. So whether you’ve noticed your power windows moving very slowly or they’ve stopped working altogether, it’s time to pick up the phone and dial Master Auto Glass Corp.</p>
 <p class="lead">
fixed window regulator As you might suspect, a power window motor replacement is not a job for a do-it-yourselfer. At Master Auto Glass Corp., we offer expert window regulator replacement and repair to vehicle owners throughout the Bronx, Manhattan, and Westchester County, and we're happy to help you in any way we can. We've been in this business for generations, and with our 73 years of experience and training, we're deeply knowledgeable about all of the complex switches, motors, and wiring behind any successful window regulator installation. By working with the utmost efficiency and precision on your power window motor replacement, we’ll have your vehicle’s windows back up to speed in no time, performing at full velocity and range of motion, just the way they should.
</p> <p class="lead">
To help you determine your need for service, here are a few signs your vehicle might be ready for window motor replacement or regulator repair:
</p> 
<ul>
	<li>Windows move up and down with jerky, irregular movements.</li>
		<li>Whirring or mechanical sounds can be heard when you press the button, but the window won't move.</li>
			<li>Nothing at all happens when the window button is pressed, not even audible noises. </li>
		
</ul>
<p class="lead">
At Master Auto Glass Corp., we strongly recommend that you retain an expert to perform your window regulator replacement. Since the window regulator motor is located inside your car door, the simple act of inspecting this part involves removing interior panels and gaining access to areas that can’t readily be seen. As specialists in automotive glass services, our trained technicians are licensed, bonded, and insured to deal with all of the tiny, complicated parts involved in your car window regulator. We’ll put our skills to the test in order to restore your power windows to full working order. We’ll even hit the road as a mobile unit, coming straight to your location to tackle your power window motor replacement right on site. Just think of the time, hassle, and money you’ll save over your regular mechanic or car dealer.
</p> <p class="lead">
So don't let your malfunctioning window regulator motor keep you from enjoying all of the perks of modern automobile design. Simply call Master Auto Glass Corp. for the professional repair and replacement expertise you need, at your place or ours. We offer free estimates and a lifetime warranty on all defective materials, so make that call today. </p>
        </div>
        
      </div>
   </div>

      <hr class="hrsp">

      <!-- /END THE FEATURETTES -->    
     
   <footer>
        
        <p>Serving Bronx NY; City Island NY; Mamaroneck NY; Manhattan NY; Mount Vernon NY; New Rochelle NY; Westchester County NY; White Plains NY;
Call us: (718) 542-8200 Last Updated:NOW.</p>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Master Auto Glass Corp. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

      
    <script src="/static/js/jquery-1.2.6.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/boot/js/bootstrap.js" type="text/javascript"></script>

  </body>
</html>